.allocations-map {
  height: 500px;
  position: relative;
  width: 100%;
  &.fullscreen {
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
  }
}
.map {
  height: 100%;
  width: 100%;
}
button.fullscreen {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0 none transparent;
  padding: 2px 7px;
  position: absolute;
  right: 0;
  top: 0;
  &:active,
  &:focus,
  &:hover {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
