.info {
  p {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    width: 24rem !important;
    .user {
      border-bottom: 3px solid #f07537;
    }
    .rp {
      border-bottom: 3px solid #1a5b6e;
    }
  }
  .user .user,
  .rp .rp,
  .credits {
    font-weight: 600;
  }
}
