@import url('http://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,70,400;0,100,400;0,100,600;0,100,800;1,100,400&#038;display=swap');
$primary: #1a5b6e;
$secondary: #fec42d;
$danger: #a70000;
$info: #00a8d1;
$warning: #ef7537;


.access {
  font-family: "Archivo", sans-serif;
}

.resourceName {
  font-size: 1.3rem;
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
}

.filterBar {
  position: sticky;
  top: 5px;
  z-index: 30;
}

.cardBg {
  background-color: $primary !important;
  color: #fff !important;
}

.active {
  background-color: #1a5b6e;
  color: #fff !important;
}

.plainButton {
  background: none;
  border: none;
  margin: unset;
  text-decoration: underline;
  color: #069;
  padding: 0;
  cursor: pointer;
}

.btnSecondary {
	color: #000 !important;
	background-color: #fec42d !important;
	border-color: #fec42d !important;
}

.btnSecondary:hover{
  background-color: #fecd4d !important;
	border-color: #feca42 !important;
}